* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

header,
section,
footer {
  width: 100%;
  height: auto;
}

iframe {
  display: none;
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.text-blind {
  font-size: 0;
}

svg {
  overflow: hidden;
}
