.section01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh + 1px);
  position: relative;

  &.background {
    background: url("/images/main_background.jpg");
    background-position: center center;
    background-size: cover;
  }

  .cover {
    position: absolute;
    width: 100%;
    height: calc(100vh + 1px);
    top: 0;
    left: 0;
    z-index: 200;
    background: rgba(26, 30, 36, 0.65);
    animation: image-scan 3.7s 1.8s ease-in-out forwards reverse;
  }

  @keyframes image-scan {
    0% {
      height: 0%;
      opacity: 1;
      background: rgba(0, 0, 0, 1);
    }

    50% {
      background: rgba(0, 0, 0, 0.5);
    }

    88% {
      height: 100%;
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
    }

    100% {
      background: rgba(0, 0, 0, 0.1);
      height: 100%;
      opacity: 0;
    }
  }
}

.main_visual_title {
  position: absolute;
  bottom: 247px;
  font-size: 68px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 93.6px;
  color: #fff;
  letter-spacing: normal;
  word-break: keep-all;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 180px;
  overflow: hidden;
  z-index: 300;

  .sec_top {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0 17px;
  }

  .before,
  .after {
    display: block;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    transform: translate3d(0, calc(100% + 80px), 0);
  }

  .before {
    &.active {
      transform: translate3d(0, 0, 0);
    }
  }
  .after {
    &.active {
      transition-delay: 1.68s;
      transform: translate3d(0, 0, 0);
    }
  }
}

.down_arrow {
  width: 28px;
  height: 14px;
  cursor: pointer;
  animation: down-arrow-animation 2s 3.8s infinite;
  position: absolute;
  bottom: 97px;
  visibility: hidden;
}

@keyframes down-arrow-animation {
  0% {
    visibility: visible;
    opacity: 0;
  }

  50% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.section02 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background: #121417;
  overflow: hidden;
  @media (max-width: 720px) {
    height: auto;
    min-height: 100vh;
  }

  .in_wrap {
    display: flex;
    flex-direction: column;
    width: 960px;
    position: relative;
    z-index: 100;

    .title {
      margin-bottom: 75px;
      font-size: 38px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 52px;
      color: #fff;
      letter-spacing: normal;
      word-break: keep-all;
      height: 104px;
      overflow: hidden;
      span {
        display: block;
        transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
        transform: translate3d(0, calc(100% + 70px), 0);

        &.active {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.section03 {
  display: flex;
  justify-content: center;
  height: 200vh;
  position: relative;

  .cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2200px;
    background: #121417;
    z-index: 500;
  }

  .in_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("/images/section03_background.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .team_mission {
      position: absolute;
      right: 0;
      left: 0;
      width: 788px;
      height: 406px;
      padding: 60px 92px;
      margin: 0 auto;
      text-align: center;
      background: rgba(26, 30, 36, 0.65);
      border-radius: 16px;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      box-sizing: border-box;
      z-index: 600;
      .mission_title {
        display: block;
        margin-bottom: 20px;
        font-size: 30px;
        font-stretch: normal;
        line-height: 43.5px;
        color: #b0b8c1;
        letter-spacing: normal;
        word-break: keep-all;
      }
      .mission_text {
        font-size: 31px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 43.5px;
        color: #fff;
        letter-spacing: normal;
        word-break: keep-all;
      }
    }
  }
}

.section04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 116px;
  position: relative;
  z-index: 500;

  .in_wrap {
    display: flex;
    flex-direction: column;
    width: 500px;

    .title {
      margin-bottom: 82px;
      font-size: 39px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 1.45em;
      color: rgb(255, 255, 255);
      text-align: center;
      letter-spacing: normal;
      word-break: keep-all;
    }
  }
}

.section05 {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 175px 0;
  margin-bottom: 56px;
  box-sizing: border-box;
  .in_wrap {
    width: 960px;

    .title_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-bottom: 13px;
        font-size: 52px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 1.4em;
        color: #191f28;
        text-align: center;
        letter-spacing: normal;
        word-break: keep-all;
      }

      .sub_title {
        margin-bottom: 42px;
        font-size: 24px;
        font-stretch: normal;
        line-height: 1.45em;
        color: #4e5968;
        text-align: center;
        letter-spacing: normal;
        word-break: keep-all;
      }
    }
    .contents {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 28px;
      margin: 0 50px;
    }
  }
}

.section06 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #17171c;
  padding: 150px 0;
  box-sizing: border-box;
  .in_wrap {
    display: flex;
    margin: 0 auto;
    width: 1048px;
    position: relative;
    padding-top: 180px;
    gap: 0 50px;

    .left_article {
      display: flex;
      flex-direction: column;
    }

    .text_wrap {
      position: sticky;
      width: 502px;
      height: 350px;
      top: 180px;
      right: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      .title {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 16px;
        color: #fff;
      }

      .text {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 29px;
        line-height: 1.6;
        color: #888;
      }
    }
  }
}

.section07 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 122px 0 138px 0;
  .in_wrap {
    margin: 0 auto;
    width: 1048px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(0, calc(25%), 0);
    opacity: 0;
    h3 {
      font-size: 46px;
      font-weight: 700;
      color: rgb(25, 31, 40);
      margin-bottom: 68px;
    }

    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .in_wrap > section {
    width: 100%;
  }
}

.more_notice {
  border-radius: 7px;
  background-color: rgb(242, 244, 246) !important;
  color: rgb(78, 89, 104) !important;
  font-weight: 600;
  transition: background-color 0.2s;
  margin-top: 60px;
  border: 0 !important;
}
